body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}


#tblData{
    border:1px solid #bfbfbf;
    width: 100%;
}

#tblData tr th{
    border:1px solid #c7c7c7;
    font-size: 13px;
    font-weight: bold;
    padding:5px;
    background-color: #d9d9d9;
    text-align: center;
}

#tblData tr td{
    border:1px solid #c7c7c7;
    font-size: 12px;
    padding:10px;
    border-collapse: collapse;
}

#tblData tr:nth-child(even) td{
    background-color: beige;
}

#tblData tr td.inactive{
    background-color: #fcd2bd;
    color:red;
    font-weight: bold;
}

#tblData tr td.active{
    background-color: #c1fac0;
    font-weight: bold;

}

#tblData tr td:nth-child(3), th:nth-child(3){
    width: 40%;
}

#tblData tr td:nth-child(3){
    font-size: 11px;
    font-weight: bold;

}

.p-head{
    font-size:15px;
    font-weight: bold;
    padding:5px;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.spnLoading{
    color:gray;
    font-size: 13;
}